.feedbackBtn {
  padding: 15px 30px;
  margin-right: 10px;

  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  cursor: pointer;

  font-weight: 700;
  font-size: 18px;
}

.btnBlock {
  align-content: center;
}

.feedbackBtn:hover {
  background-color: rgb(191, 191, 191);
}
